body{

background-image:url("gray.jpg");
}
.container {
    position: relative;
    text-align: center;
    color: black;
}
img {
    opacity: 0.7;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button{
  display: inline-block;
  width: 100px;
  padding: 8px;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
border-radius: 9px;
  text-decoration: auto;
  transition: background-color 0.2s ease-out,
              border-color 0.2s ease-out;
}
.button:hover,
.button:active {
  color: black;
  background-color: #fff; /* fallback */
  background-color: rgba(255, 255, 255, 0.4);
  border-color: #fff; /* fallback */
  border-color: rgba(255, 255, 255, 0.4);
  transition: background-color 0.3s ease-in,
              border-color 0.3s ease-in;
}

