body  {
    background-image:url("111.jpg");
    background-color: #cccccc;
     background-repeat: no-repeat;
     background-size: cover;
     overflow: hidden;
}

.imgcontainer {
    text-align: center;
    margin: 2% 25% 2% 25%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

button {
    background-color: black;
   height:38px;
   color: white;
   
}

